<% layout('/layouts/boilerplate')%>
    <!-- <h1>Edit Product</h1>
    <form action="/products/<%= product._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Product Name</label>
            <input type="text" id="name" name="product[name]" value="<%=product.name%>">
        </div>
        <div>
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="product[brand]" value="<%=product.brand%>">
        </div>
        <div>
            <label for="category">Category</label>
            <input type="text" id="category" name="product[category]" value="<%=product.category%>">
        </div>
        <div>
            <label for="originPrice">Original Price</label>
            <input type="text" id="originPrice" name="product[originPrice]" value="<%=product.originPrice%>">
        </div>
        <div>
            <label for="ml">Volume</label>
            <input type="text" id="ml" name="product[ml]" value="<%=product.ml%>">
        </div>
        <div>
            <label for="lowestPrice">Lowest Price</label>
            <input type="text" id="lowestPrice" name="product[lowestPrice]" value="<%=product.lowestPrice%>">
        </div>
        <div>
            <label for="lowestPerMl">Lowest Price Per ML</label>
            <input type="text" id="lowestPerMl" name="product[lowestPerMl]" value="<%=product.lowestPerMl%>">
        </div>
        <button>Update Product</button>
    </form>
    <a href="/products/<%=product._id%>">Return</a> -->


    <div class="row">
        <h1 class="text-center">New Product</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/products/<%= product._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Product Name</label>
                    <input class="form-control" type="text" id="name" name="product[name]" value="<%=product.name%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="brand">Brand</label>
                    <input class="form-control" type="text" id="brand" name="product[brand]" value="<%=product.brand%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="category">Category</label>
                    <input class="form-control" type="text" id="category" name="product[category]"
                        value="<%=product.category%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="originPrice">Original Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="originPrice-label">$</span>
                        <input type="text" class="form-control" id="originPrice" placeholder="0.00"
                            aria-label="originPrice" aria-describedby="originPrice-label" name="product[originPrice]"
                            value="<%=product.originPrice%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="originPrice">Original Price</label>
                    <input class="form-control" type="text" id="originPrice" name="product[originPrice]">
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="ml">Volume</label>
                    <input class="form-control" type="text" id="ml" name="product[ml]" value="<%=product.ml%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lowestPrice">Lowest Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="lowestPrice-label">$</span>
                        <input type="text" class="form-control" id="lowestPrice" placeholder="0.00"
                            aria-label="lowestPrice" aria-describedby="lowestPrice-label" name="product[lowestPrice]"
                            value="<%=product.lowestPrice%>" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                        <label class="form-label" for="lowestPrice">Lowest Price</label>
                        <input class="form-control" type="text" id="lowestPrice" name="product[lowestPrice]">
                    </div> -->
                <div class="mb-3">
                    <label class="form-label" for="lowestPerMl">Lowest Price Per ML</label>
                    <input class="form-control" type="text" id="lowestPerMl" name="product[lowestPerMl]"
                        value="<%=product.lowestPerMl%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <% product.image.forEach(function(img,i){ %>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="product[description]"><%=product.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Edit Product</button>
                </div>
            </form>
            <a href="/products/<%=product._id%>">Return</a>
        </div>
    </div>